@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: black ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.calculator {
  background-color: #1e1e2f;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  width: 320px;
}

.display {
  background-color: #f4f4f4;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1.5rem;
  text-align: right;
  overflow-x: auto;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.button {
  flex: 1;
  margin: 5px;
  height: 50px;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: rgb(206, 211, 205);
  transition: all 0.2s ease;
}

.button.number {
  background-color: #4e5d78;
}
/*
.button.function {
  background-color: #7b8fa1;
}

.button.math {
  background-color: #00aaff;
}

.button.constant {
  background-color: #8e44ad;
}*/

.button.action {
  background-color: #e74c3c;
}

.button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

@media (max-width: 480px) {
  .calculator {
    padding: 10px;
    border-radius: 15px;
  }

  .button {
    padding: 10px;
    font-size: 0.75rem;
    border-radius: 8px;
  }

  .display {
    font-size: 1rem;
    height: 50px;
    padding: 8px;
  }

  .button-grid {
    gap: 8px;
  }
}
